body{
  background-color: #7CAAA8;
  padding: 10px;
  color: white;
}
.btn{
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: black;
  display: inline-block;
  padding: 0px 10px;
  cursor: pointer;
}
.btn:hover{
  background-color: gray;
}

.game{
  height: 600px;
  width: 800px;
  margin: 0px auto;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
  padding: 10px;
  background-color: #19433F;
}

.screen{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: opacity .2s;
}

.screen.active{
  pointer-events: auto;
  opacity: 1;
}



/* Screen Config */
#intro{
  text-align: center;
}

#tv{

}

#tv iframe{
  position: absolute;
  height: 400px;
  width: 500px;
  left: 200px;
  margin-left: -200px;
  top: 40px;
}

#tv #turnOffTV{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#tv iframe.recursive{
  transform: scale(.5);;
  transform-origin: 0 0;
  height: 800px;
  width: 1000px;
}

/* Boredom Status */
.boredom-status{
  position: absolute;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 10px;
  border: 3px solid orange;
  text-align: center;
  overflow: hidden;
  height: 24px;
  display: none;
}
.boredom-status.active{
  display: block;
}
.boredom-status .percent{
  z-index: 0;
  width: 0%;
  background-color: red;
  height: 24px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: width .2s;
}
.boredom-status .label{
  position: absolute;
  z-index: 1;
  top: 2px;
  text-align: center;
  width: 100%;
}

