body{
  background-color: #7CAAA8;
  padding: 10px;
  color: white;
}
.btn{
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  color: black;
  display: inline-block;
  padding: 0px 10px;
  cursor: pointer;
}
.btn:hover{
  background-color: gray;
}

.game{
  height: 600px;
  width: 800px;
  margin: 0px auto;
  border: 1px solid black;
  position: relative;
}

.screen{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: opacity .2s;
  z-index: 0;
}

.screen.active{
  pointer-events: auto;
  opacity: 1;
  z-index: 1;
}



/* Screen Config */
#intro{
  text-align: center;
  background: url('/assets/images/TITLE.png') no-repeat;
}

#tv{

}

#phone{
  background: url('/assets/images/LIVING_ROOM_16.png') no-repeat;
  overflow: hidden;
}

.phone-up{
  position: absolute;
  right: 200px;
  opacity: 0;
  bottom: -10px;
  transform: skewX(14deg);
}

.phone-up.active{
  opacity: 1;
  bottom: 0px;
  right: 140px;
  transform: skewX(0deg);
  transition: bottom .5s, transform .5s, right .5s;
}

.phone-down{
  position: absolute;
  bottom: -200px;
  right: 200px;
  opacity: 0;
  transform: skewX(14deg);
}
.phone-down.active{
  opacity: 1;
  right: 140px;
  bottom: 0px;
  transform: skewX(0deg);
  transition: bottom .2s, transform .2s, right .2s;
}

.iphone{
  opacity: 0;
}
.iphone.active{
  opacity: 1;
  transition: opacity .2s;
  transition-delay: .5s;
}



#tv iframe{
  position: absolute;
  height: 400px;
  width: 500px;
  left: 200px;
  margin-left: -200px;
  top: 40px;
}

#tv #turnOffTV{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#tv iframe.recursive{
  transform: scale(.5);;
  transform-origin: 0 0;
  height: 800px;
  width: 1000px;
}

#lightSwitch iframe{
  position: absolute;
  height: 400px;
  width: 500px;
  left: 200px;
  margin-left: -200px;
  top: 40px;
}

#lightSwitch #exitLightSwitch{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#lightSwitch iframe.recursive{
  transform: scale(.5);;
  transform-origin: 0 0;
  height: 800px;
  width: 1000px;
}

/* Boredom Status */
.boredom-status{
  position: absolute;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 10px;
  border: 3px solid orange;
  text-align: center;
  overflow: hidden;
  height: 24px;
  display: none;
}
.boredom-status.active{
  display: block;
}
.boredom-status .percent{
  z-index: 0;
  width: 0%;
  background-color: red;
  height: 24px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: width .5s;
}
.boredom-status .label{
  position: absolute;
  z-index: 1;
  top: 2px;
  text-align: center;
  width: 100%;
}

#creditsButton{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#credits {
  background-color: black;
  color: rgb(184, 147, 147);
}
#credits h1 {
  margin-top: 75px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px rgb(184, 147, 147)
}
#credits h3 {
  color: white;
  text-align: center;
  text-decoration: underline;
}
#credits p{
  color: white;
  text-align: center;
}
#credits a{
  color: rgb(184, 147, 147);
  text-decoration: none;
}

#fail {
  color: rgb(184, 147, 147);
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/assets/images/YOU_LOSE.png");
  background-color: black;
  text-align: right;
}
#fail h1 {
  padding-right: 100px;
  margin-top: 75px;
  color: white;
  text-shadow: 2px 2px rgb(184, 147, 147)
}
#fail p {
  padding-right: 70px;
}
